.navbar {
  background-color: #e3f2fd;
  height: 70px;
}

.signout-msg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-bar-btn {
  display: inline-block;
  margin-left: 10px;
}

.greeting {
  display: inline-block;
}

.form-control,
.form-check {
  margin-top: 10px;
  margin-bottom: 10px;
}

.errorMsg {
  color: white;
  background: red;
  border-radius: 0.3rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  margin-bottom: 10px;
}
